<div class="container-fluid">
    <div class="row g-6 mb-6">
        <div class="container col-xxl-8 px-4 py-5">
            <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
              <div class="col-10 col-sm-8 col-lg-6">
                <img src="https://media.licdn.com/dms/image/C4E22AQFw26Q6SxGljA/feedshare-shrink_800/0/1660638790482?e=1681948800&v=beta&t=xWTBbV96MQOJnhf5WUUwpLdmYVOasWB-IEwGEQxfmx0" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="700" height="500" loading="lazy">
              </div>
              <div class="col-lg-6">
                <h1 class="display-5 fw-bold lh-1 mb-3">Bienvenue sur notre application de candidature pour les bourses d'études offertes par SNABE</h1>
                <p class="lead">Trouvez facilement la bourse idéale, remplissez votre formulaire de candidature en ligne et suivez l'état de votre candidature.</p>
                <p class="lead"> Nous sommes là pour vous aider à réaliser votre rêve d'études supérieures. Bonne chance</p>
                <div class="d-grid gap-2 d-md-flex justify-content-md-start">
                  <button type="button" class="btn btn-primary btn-lg px-4 me-md-2">Postuler à une bourse</button>
                  <button type="button" class="btn btn-outline-success btn-lg px-4">Voir mes candidatures</button>
                </div>
              </div>
            </div>
          </div>

          <div class="container px-4 py-5" id="hanging-icons">
            <h2 class="pb-2 border-bottom">Types de bourse d'études</h2>
            <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
              <div class="col d-flex align-items-start">
                <div class="icon-square bg-light text-dark flex-shrink-0 me-3">
                  <svg class="bi" width="1em" height="1em"><use xlink:href="#toggles2"/></svg>
                </div>
                <div>
                  <h2>Featured title</h2>
                  <p>Paragraph of text beneath the heading to explain the heading. We'll add onto it with another sentence and probably just keep going until we run out of words.</p>
                  <a href="#" class="btn btn-primary">
                    Primary button
                  </a>
                </div>
              </div>
              <div class="col d-flex align-items-start">
                <div class="icon-square bg-light text-dark flex-shrink-0 me-3">
                  <svg class="bi" width="1em" height="1em"><use xlink:href="#cpu-fill"/></svg>
                </div>
                <div>
                  <h2>Featured title</h2>
                  <p>Paragraph of text beneath the heading to explain the heading. We'll add onto it with another sentence and probably just keep going until we run out of words.</p>
                  <a href="#" class="btn btn-primary">
                    Primary button
                  </a>
                </div>
              </div>
              <div class="col d-flex align-items-start">
                <div class="icon-square bg-light text-dark flex-shrink-0 me-3">
                  <svg class="bi" width="1em" height="1em"><use xlink:href="#tools"/></svg>
                </div>
                <div>
                  <h2>Featured title</h2>
                  <p>Paragraph of text beneath the heading to explain the heading. We'll add onto it with another sentence and probably just keep going until we run out of words.</p>
                  <a href="#" class="btn btn-primary">
                    Primary button
                  </a>
                </div>
              </div>
            </div>
          </div>
    </div>
</div>