<div class="container pt-2">
    <!-- No data message -->
    <p *ngIf="domaines.length <= 0" class="no-data text-center">There is no domaine added yet!</p>
    <!-- authors list -->
    <div class="data-list">
        <p class="float-end">
            <a routerLink="/admin/add-niveau" class="btn btn-primary">Ajouter un domaine</a>
        </p>
        <table class="table table-bordered table-striped table-hover" *ngIf="domaines.length > 0">
            <caption>Liste des domaines</caption>
            <thead class="table-primary">
                <tr>
                    <th scope="col">N°</th>
                    <th scope="col">Nom</th>
                    <th scope="col center">Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let domaine of domaines; let i = index">
                    <th scope="row">{{i+1}}</th>
                    <td>{{domaine.nom}}</td>
                    <td class="text-center edit-block">
                        <span class="edit me-3" [routerLink]="['/admin/edit-niveau/', domaine._id]">
                            <button type="button" class="btn btn-success btn-sm">Modifier</button>
                        </span>
                        <span class="delete" (click)="removeGenre(domaine._id, i)">
                            <button type="button" class="btn btn-danger btn-sm">Supprimer</button>
                        </span>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
